.dn{
  display: none;
}
#hd{
  background-color: #fff;
}
#tnb{
  background-color: #eee;
}
#tnb a{
  color: #222 !important;
}
#hd_wrapper{
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#hd_sch{
  border-radius: 0;
  display: flex;
}
.car_search{
  display: flex;
  justify-content: space-between;
}
#hd_sch #sch_submit{
  border-radius: 0;
  background-color: #068ee5;
  width: 30px;
  height: 30px;
  font-size: 20px;
  float: none;
}

.pic_li_lt{
  width: 100%;
}
#logo{
  padding: 0;
}
.hd_sch_wr{
  padding: 0;
  width: auto;
  margin-left: 0;
}
#hd_wrapper:after{
  display: none;
}
.gnb_menu_btn{
  font-style: normal;
  cursor: pointer;
}
#gnb_all{
  top: -140px;
}
#gnb_all h2{
  text-align: center;
}
.cmdbox{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.gsimg{
  margin: 5px;
}
.gsimg img{
  display: block;
}
.gsimg a ul li pre{
  margin: 0;
  white-space: pre-line;
}
.latest_top_wr{
  margin:0;
  margin-bottom: 15px;
  padding-top: 10px;
}
#topul{
  display: flex;
  position: relative;
}
#topcmd{
  display: none;
}
#topfree{
  display: none;
}
#topcmd.on{
  display: block;
}
#topfree.on{
  display: block;
}
#topul li h3{
  margin:0 30px;
}
.sw_img{
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 0;
  height: 120px;
}
#mdul{
  position: relative;
  display: flex;
}
#mdnew{
  display: none;
}
#mdhot{
  display: none;
}
#mdnew.on{
  display: block;
}
#mdhot.on{
  display: block;
}
#mdul li h3{
  margin:0 30px;
}
.subBanner{
  margin-top: 10px;
}
a.lt_more {
  text-align: center;
  background-color: #ccc;
  font-size: 1rem;
  width: 930px;
  height: 30px;
  line-height: 2;
}
.btcontainer{
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 15px;
}
.btcontainer a.lt_more{
  width: 1200px;
}
.gnb_1dli span.bg{
  display: none;
}
.asct{
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
}
.asct li pre{
  font-size: 0.6rem;
  margin:0;
  overflow: visible;
}
.xi-call h3{
  font-size: 1.9rem;
  display: inline;
  color: red;
}
.xi-call ul{
  text-align: right;
}
.xi-call li{
  font-size: 1rem;
}
.lat .lat_title a{
  font-size: 0.9rem;
}
.lat .lt_more{
  font-size: 0.8rem;
  color: #222;
  background-color: transparent;
}
.asbt ul{

}
.asbt ul li{
  height: 60px;
  display: block;
  margin: 10px 0;
}
.asbt ul li a{
  font-size: 1rem;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 5px;
}
.asbt ul li a span{
  font-size: 0.8rem;
}
.xi-folder-open,.xi-library-books{
  border-bottom: 1px solid #aaa;
}
#ft_wr{
  text-align: center;
}
#ft_wr .ft_cnt{
  margin: 0 auto;
  float: none;
}
#wrapper .quick{
  position: fixed;
  right: 5%;
}
#wrapper .quick img{
  height: 300px;
}
.latest_wr{
  margin-bottom: 0;
}
